<div class="banner">
  <div class="banner-content">
    <h1>Mr Cocktail's</h1>
    <p>God Blessed List of Tasty Cocktails</p>
    <%= link_to 'List all Cocktails', cocktails_path, class: 'btn btn-success' %>
    <%= link_to 'Add a Cocktail', new_cocktail_path, class: 'btn btn-danger' %>
  </div>
</div>
